homeassistant:
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies: 
    - !secret proxy_ip

frontend:
  themes: !include_dir_merge_named themes

# Enable Lovelace yaml mode
lovelace:
  mode: yaml
  dashboards:
    lovelace-den:
      mode: yaml
      filename: lovelace-den.yaml
      title: Den Tablet View
      show_in_sidebar: false
    lovelace-craft:
      mode: yaml
      filename: lovelace-craft.yaml
      title: Craft Tablet View
      show_in_sidebar: false
    lovelace-entry:
      mode: yaml
      filename: lovelace-entry.yaml
      title: Entry Tablet View
      show_in_sidebar: false
    lovelace-kitchen:
      mode: yaml
      filename: lovelace-kitchen.yaml
      title: Kitchen Tablet View
      show_in_sidebar: false
    lovelace-watch:
      mode: yaml
      filename: lovelace-watch.yaml
      title: Watch Shop Tablet View
      show_in_sidebar: false
    lovelace-mobile:
      mode: yaml
      filename: lovelace-mobile.yaml
      title: Mobile Interface
      show_in_sidebar: false
  resources:
    - url: /hacsfiles/bar-card/bar-card.js
      type: module
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/lovelace-card-modder/card-modder.js
      type: module
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: js
    - url: /hacsfiles/circle-sensor-card/circle-sensor-card.js
      type: module
    - url: /hacsfiles/lovelace-fold-entity-row/fold-entity-row.js
      type: js
    - url: /hacsfiles/lovelace-gap-card/gap-card.js
      type: js
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /local/custom_ui/moment.js
      type: js
    - url: /hacsfiles/text-divider-row/text-divider-row.js
      type: module
    - url: /hacsfiles/vertical-stack-in-card/vertical-stack-in-card.js
      type: js
    - url: /hacsfiles/config-template-card/config-template-card.js
      type: module
    - url: /hacsfiles/simple-thermostat/simple-thermostat.js
      type: module
    - url: /hacsfiles/list-card/list-card.js
      type: js
    - url: /hacsfiles/text-element/text-element.js
      type: js
    - url: /hacsfiles/lovelace-card-preloader/lovelace-card-preloader.js
      type: js
    - url: /hacsfiles/lovelace-card-mod/card-mod.js
      type: module
    - url: /hacsfiles/stack-in-card/stack-in-card.js
      type: module
    - url: /local/custom_ui/mm2-clock-card.js
      type: module
    - url: /hacsfiles/bom-weather-card/bom-weather-card.js
      type: module
    - url: /hacsfiles/lovelace-layout-card/layout-card.js
      type: module

# Discover some devices automatically
discovery:
sensor:
  #Template Sensors
  - platform: template
    sensors:
      #Blank
      blank:
        value_template: ""
        friendly_name: ""

      webhook_wake:
        value_template: !secret webhook_wake

#Input Booleans

input_boolean:
  washer_end:
    name: Washer Finished
    icon: mdi:stop-circle

  dryer_end:
    name: Dryer Finished
    icon: mdi:stop-circle

  guest_mode:
    name: Guest Mode
    icon: mdi:timer-outline

  timer_lights:
    name: Timer Lights
    icon: mdi:lightbulb

  goodnight_trigger:
    name: Alexa Good Night Trigger
    initial: off
    icon: mdi:amazon-alexa

  bedtime_trigger:
    name: Alexa Bedtime Trigger
    initial: off
    icon: mdi:amazon-alexa

  outside_timer_lights:
    name: Outside Timer Lights
    icon: mdi:timer-outline

  elk_night_on:
    name: Elk Night Mode On Trigger
    icon: mdi:alarm-bell

  elk_night_off:
    name: Elk Night Mode Off Trigger
    icon: mdi:alarm-bell

  elk_stay_on:
    name: Elk Stay Mode On Trigger
    icon: mdi:alarm-bell

  elk_stay_off:
    name: Elk Stay Mode Off Trigger
    icon: mdi:alarm-bell

  elk_away_on:
    name: Elk Away Mode On Trigger
    icon: mdi:alarm-bell

  elk_speech:
    name: Elk Speech Enabled


# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

group: !include groups.yaml
automation: !include_dir_merge_list automation
script: !include_dir_merge_named scripts
zone: !include zones.yaml

# ISY 994 Integration
isy994:
  host: !secret isy_host
  username: !secret isy_user
  password: !secret isy_pass

#Elk M1 Integration
elkm1:
  host: !secret elk_host
  username: !secret elk_user
  password: !secret elk_pass
  area:
    exclude: [2-8]
  counter:
    enabled: false
  keypad:
    exclude: [5-16]
  output:
    include: [3, 9, 10, 177-180]
  task:
    enabled: false
  thermostat:
    enabled: false
  plc:
    enabled: false
  zone:
    include: [1-32]

#Alexa
api:
alexa: !include alexa.yaml

ffmpeg:

#Notification Services
notify:
  - platform: html5
    name: browser
    vapid_pub_key: !secret vapid_public
    vapid_prv_key: !secret vapid_private
    vapid_email: !secret vapid_email

browser_mod:
  disable:
    - all

rest_command:
  wake_remote:
    url: "{{states('sensor.webhook_wake')}}"
    method: post

device_tracker:
  - platform: aruba
    host: !secret aruba_host
    username: !secret aruba_user
    password: !secret aruba_pass