- alias: Refresh Entity Counters
  trigger:
    - platform: time_pattern
      minutes: "/15"
  action:
    - service: homeassistant.update_entity
      entity_id:
        - sensor.automation_count
        - sensor.binary_sensor_count
        - sensor.switch_count
        - sensor.fan_count
        - sensor.lights_count
        - sensor.tracker_count
        - sensor.media_player_count
        - sensor.script_count
        - sensor.sensor_count

- alias: Doorbell Announcement
  trigger:
    - platform: state
      entity_id: sensor.doorbell
      from: "Normal"
      to: "Violated"
  action:
    - service: notify.alexa_media
      data:
        message: "Someone is at the front door."
        data:
          type: announce
          method: all
        target:
          - media_player.alexa_craft
          - media_player.alexa_master
          - media_player.alexa_kitchen

- alias: "Set Theme to Midnight"
  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: frontend.set_theme
      data:
        name: midnight

- alias: Turn On Sound Machine
  trigger:
    - platform: state
      entity_id: light.master_lamp
      from: 'on'
      to: 'off'
  condition:
    - condition: not
      conditions:
        - condition: state
          entity_id: alarm_control_panel.area_001
          state: armed_away
    - condition: time
      after: '19:00:00'
      before: '02:00:00'
  action:
    - service: media_player.play_media
      data:
        entity_id: media_player.alexa_master
        media_content_id: "Bedtime Sounds"
        media_content_type: "routine"

- alias: Record HA Shutdown Time
  trigger:
    - platform: homeassistant
      event: shutdown
  action:
    - service: mqtt.publish
      data_template:
        topic: hass/restart
        payload: "{{ now() }}"
        retain: true
