- alias: Refresh Entity Counters
  id: 81b799f7-10d4-40c7-96c2-255ec5f4020b
  trigger:
    - platform: time_pattern
      minutes: "/15"
  action:
    - service: homeassistant.update_entity
      entity_id:
        - sensor.automation_count
        - sensor.binary_sensor_count
        - sensor.switch_count
        - sensor.fan_count
        - sensor.lights_count
        - sensor.tracker_count
        - sensor.media_player_count
        - sensor.script_count
        - sensor.sensor_count

- alias: "Set Theme to Midnight"
  id: 5fbf01bf-84c0-46af-8177-b09e96dad69c
  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: frontend.set_theme
      data:
        name: midnight

- alias: Turn On Sound Machine
  id: 03759759-c2c7-4d9e-80c7-594b998b615a
  trigger:
    - platform: state
      entity_id: light.master_lamp
      from: 'on'
      to: 'off'
  condition:
    - condition: not
      conditions:
        - condition: state
          entity_id: alarm_control_panel.house
          state: armed_away
    - condition: time
      after: '19:00:00'
      before: '02:00:00'
  action:
    - service: media_player.play_media
      data:
        entity_id: media_player.alexa_master
        media_content_id: "Bedtime Sounds"
        media_content_type: "routine"

- alias: Record HA Shutdown Time
  id: ec7e8067-739b-45c1-b950-017fa7de9b2c
  trigger:
    - platform: homeassistant
      event: shutdown
  action:
    - service: mqtt.publish
      data_template:
        topic: hass/restart
        payload: "{{ now() }}"
        retain: true
